---
layout: default
index: true
---

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
              <div class="blog-post-small">
                {% for post in site.posts %}
                  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                  <p>
                    <i class="fa fa-calendar"></i> &nbsp;{{ post.date | date: "%b %-d, %Y" }}
                  </p>
                  {% if post.content contains '<!-- more -->' %}
                    <p>{{ post.content | split:'<!-- more -->' | first }}
                      <br>
                      <a href="{{ post.url }}"class="btn btn-primary btn-sm">Read More</a>
                    </p>
                  {% else %}
                    {{ post.content }}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
         </div>
